@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  counter-reset: sectionCounter; }

.container {
  background-color: #1A1D1E;
  position: relative; }

.content {
  background-color: #1A1D1E;
  margin-left: 17rem; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #1A1D1E; }

::-webkit-scrollbar-thumb {
  background: #404040; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

section {
  padding: 15rem 2rem; }
  @media screen and (max-width: 1100px) {
    section {
      padding: 12rem 6rem; } }
  @media screen and (max-width: 650px) {
    section {
      padding: 12rem 2.5rem; } }

::-webkit-scrollbar:horizontal {
  height: 4px; }

::-webkit-scrollbar-thumb:horizontal {
  background: #555;
  z-index: 2; }

.heading-primary {
  color: #fff;
  line-height: 1.1;
  font-weight: 400; }
  .heading-primary--main {
    font-size: clamp(40px, 8vw, 100px); }
  .heading-primary--sub {
    font-size: clamp(20px, 8vw, 80px); }

.heading-secondary {
  font-size: clamp(20px, 8vw, 50px);
  color: #57CBFF;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  display: flex;
  align-items: center; }

.static-text {
  margin-right: 2rem;
  color: #fff; }

.paragraph {
  color: #bbb;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem; }
  .paragraph--display {
    font-family: "Roboto Mono", monospace;
    color: #59F8D3;
    font-weight: 200; }
  .paragraph--display-dim {
    font-family: "Roboto Mono", monospace;
    font-weight: 200; }

.heading-numbered {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  .heading-numbered::before {
    counter-increment: sectionCounter;
    content: "0" counter(sectionCounter) ".";
    font-size: 2rem;
    font-family: "Roboto Mono", monospace; }
  .heading-numbered::after {
    content: "";
    display: block;
    flex: 0 0 40%;
    margin-left: 2rem;
    height: 2px;
    background-color: #404040; }
    @media screen and (max-width: 650px) {
      .heading-numbered::after {
        flex: 1; } }

.heading-3 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400; }
  .heading-3--blue {
    color: #57CBFF; }

.heading-4 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400; }
  .heading-4--blue {
    color: #57CBFF; }

.u-mb-300 {
  margin-bottom: 2rem !important; }

.u-mb-500 {
  margin-bottom: 4rem !important; }

.u-mb-700 {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 650px) {
    .u-mb-700 {
      margin-bottom: 5rem !important; } }

.u-mb-000 {
  margin-bottom: 0 !important; }

.btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  color: #59F8D3;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 4rem;
  border: 2px solid currentColor;
  background-image: linear-gradient(120deg, transparent 50%, transparent 50%, #59F8D3 50%);
  background-size: 220%;
  transition: background-position .4s .1s, color .1s; }

.btn::after {
  content: "";
  background-color: currentColor;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 7px;
  height: 7px; }

.btn:hover {
  background-position: 99%;
  color: #1A1D1E; }

.btn:active {
  transform: translateY(2px); }

.link:link, .link:visited {
  text-decoration: none;
  color: #59F8D3;
  transition: all .2s; }

.link:hover {
  color: #57CBFF; }

.link:active {
  border: 1px dashed currentColor;
  outline-offset: 2px; }

.img--darken {
  opacity: .5;
  border-radius: 3px;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2);
  transition: opacity .2s; }
  .img--darken:hover {
    opacity: 1; }

.footer {
  padding: 4rem;
  padding-top: 15rem;
  text-align: center; }
  .footer__copyright {
    font-family: "Roboto Mono", monospace;
    color: #bbb;
    font-size: 1.4rem; }

.sidebar {
  height: 100%;
  width: 17rem;
  background-color: #121415;
  position: fixed;
  padding: 5rem 2rem;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all .5s !important; }
  .sidebar__logo {
    width: 7rem;
    height: 7rem;
    transition: all .3s; }
    .sidebar__logo:hover {
      transform: rotate(90deg); }

.nav-blur {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  transition: all .2s; }

.blur {
  display: block; }

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 4rem;
  list-style: none;
  font-size: 1.6rem;
  counter-reset: itemCounter; }
  .nav__link {
    counter-increment: itemCounter;
    font-family: "Roboto Mono", monospace;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all .3s; }
    .nav__link--active .nav__link {
      color: #57CBFF; }
    .nav__link--active .nav__link:after {
      width: 100%; }
    .nav__link:hover {
      color: #57CBFF; }
    .nav__link::before {
      content: "0" counter(itemCounter) "."; }
    .nav__link::after {
      content: "";
      width: 0;
      height: 1px;
      background-color: #57CBFF;
      display: block;
      transition: width .3s; }
    .nav__link:hover:after {
      width: 100%; }

.nav-toggle {
  position: fixed;
  z-index: 120;
  cursor: pointer;
  top: 4rem;
  right: 3rem;
  font-size: 0;
  text-align: center;
  display: none;
  width: 7rem;
  height: 7rem;
  background-color: #121415;
  border-radius: 50%; }
  .nav-toggle__bar {
    margin-top: 3.4rem;
    position: relative; }
    .nav-toggle__bar, .nav-toggle__bar::before, .nav-toggle__bar::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .nav-toggle__bar::before, .nav-toggle__bar::after {
      content: "";
      position: absolute;
      transition: all .2s; }
    .nav-toggle__bar::before {
      top: -.8rem;
      right: 0; }
    .nav-toggle__bar::after {
      top: .8rem;
      right: 0rem; }

@media screen and (max-width: 1100px) {
  .nav-toggle {
    display: block; }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    opacity: 0;
    right: -100%;
    justify-content: center; }
    .sidebar.is-active {
      opacity: 1;
      right: 0; }
    .sidebar__logo {
      margin-top: -4rem;
      margin-bottom: 4rem; }
  .nav {
    flex: 0; }
  .active .nav-toggle__bar {
    background-color: transparent; }
    .active .nav-toggle__bar::before {
      transform: rotate(135deg);
      top: 0; }
    .active .nav-toggle__bar::after {
      top: 0;
      transform: rotate(-135deg); }
  .content {
    margin-left: 0; } }

.header {
  height: 100vh;
  background-color: #1A1D1E;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 7vw;
  overflow: hidden; }

.media-box {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  list-style: none;
  display: flex;
  align-items: center; }
  .media-box__link {
    font-size: 3rem;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: all .2s; }
    .media-box__link:hover {
      transform: translateY(-3px); }
      .media-box__link:hover > * {
        fill: #59F8D3; }
    .media-box__link:active {
      outline: 3px dashed #59F8D3;
      transform: translateY(2px); }
  .media-box__icon {
    width: 3rem;
    height: 3rem;
    fill: #bbb;
    transition: all .2s; }
  .media-box::after {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 23rem;
    width: 30rem;
    height: 2px;
    background-color: #404040; }

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  row-gap: 10px;
  font-family: "Roboto Mono", monospace;
  animation: updown 1s infinite;
  transition: opacity .2s; }
  .scroll-down::after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #fff;
    animation: none; }

@keyframes updown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

.about {
  max-width: 1000px;
  margin: 0 auto; }
  .about__box-container {
    display: flex; }
    @media screen and (max-width: 650px) {
      .about__box-container {
        flex-direction: column; } }
  .about__text-box {
    flex: 0 0 55%; }
    @media screen and (max-width: 650px) {
      .about__text-box {
        order: 2; } }
  .about__image-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem; }
  .about__photo {
    margin-left: -100px;
    max-width: calc(min(60%, 270px)); }
    @media screen and (max-width: 800px) {
      .about__photo {
        max-width: 200px;
        margin-left: 3rem; } }
    @media screen and (max-width: 650px) {
      .about__photo {
        max-width: 170px;
        order: 1; } }

.skills__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); }

.skills__item p:first-of-type {
  color: #fff;
  margin-bottom: .3rem; }

.school {
  margin: 0 auto;
  max-width: 750px; }
  .school__box-container {
    display: flex; }
    @media screen and (max-width: 450px) {
      .school__box-container {
        flex-direction: column; } }
  .school__selector-box {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    position: relative; }
    @media screen and (max-width: 450px) {
      .school__selector-box {
        overflow-x: auto;
        white-space: nowrap;
        flex-direction: row;
        margin-bottom: 4rem; } }
  .school__selector-btn {
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #bbb;
    padding: 1rem 3rem;
    text-align: left;
    font-size: 2rem;
    transition: color .2s;
    white-space: nowrap;
    border-left: 3px solid #404040; }
    .school__selector-btn:hover {
      color: #59F8D3; }
  .school__panel-box > * {
    transition: all .2s; }
  .school__list {
    margin-left: 2rem;
    list-style: none;
    min-height: 250px; }
    .school__list > * {
      position: relative; }
      .school__list > *::before {
        content: "▹";
        position: absolute;
        top: 2px;
        left: -2rem;
        color: #59F8D3;
        font-size: 2rem; }
      .school__list > * p {
        margin-bottom: 1rem; }
  .school__selector-indicator {
    position: absolute;
    background-color: #59F8D3;
    width: 2px;
    height: 4rem;
    transition: all .5s; }
    @media screen and (max-width: 450px) {
      .school__selector-indicator {
        display: none; } }

.work {
  margin: 0 auto;
  max-width: 1000px; }
  .work__project-box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr); }
    .work__project-box:not(:last-child) {
      margin-bottom: 10rem; }
    .work__project-box:nth-child(even) > img {
      grid-column: span 6 / -1; }
    .work__project-box:nth-child(even) > div {
      grid-column: 1 / span 8;
      text-align: left; }
    @media screen and (max-width: 650px) {
      .work__project-box {
        row-gap: 2rem; } }
  .work__project-img {
    width: 100%;
    grid-column: 1 / span 6;
    grid-row: 1 / 2; }
    @media screen and (max-width: 650px) {
      .work__project-img {
        grid-column: 1 / -1 !important;
        grid-row: 1 / 2;
        align-self: center;
        height: 150px;
        object-fit: cover; } }
  .work__project-text-box {
    grid-column: 5 / -1;
    grid-row: 1 / 2;
    display: grid;
    text-align: right;
    opacity: .95; }
    .work__project-text-box > p {
      margin-bottom: 0; }
    @media screen and (max-width: 650px) {
      .work__project-text-box {
        grid-column: 1 / -1 !important;
        grid-row: 2 / 3;
        text-align: left; } }
  .work__project-text {
    background-color: #121415;
    padding: 2rem 3rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    z-index: 2; }

.appendix {
  margin: 0 auto;
  max-width: 1000px; }
  .appendix__box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem; }
    @media screen and (max-width: 650px) {
      .appendix__box-container {
        flex-direction: column;
        align-items: flex-start; } }
  .appendix__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
    @media screen and (max-width: 1100px) {
      .appendix__gallery {
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); } }
    @media screen and (max-width: 450px) {
      .appendix__gallery {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); } }
  .appendix__gallery-img {
    width: 100%; }
  .appendix__text {
    width: 70%; }
    @media screen and (max-width: 650px) {
      .appendix__text {
        width: 100%; } }

.contact {
  margin: 0 auto;
  max-width: 600px;
  text-align: center; }
  .contact__text {
    padding: 2rem; }
