//COLOR
$clr-neutral-100: #fff;
$clr-neutral-300: #999;
$clr-neutral-500: #404040;
$clr-neutral-700: #1A1D1E;
$clr-neutral-900: #121415;

$clr-primary: #59F8D3;
$clr-accent: #57CBFF;

//FONT
$ff-primary: "Montserrat", sans-serif;
$ff-display: "Roboto Mono", monospace;

//MISC
$sidebar-width: 17rem;
$big-section-width: 1000px; 
$small-section-width: 600px; 

//MEDIA QUERY BREAKPOINT

$bp-100: 1000px;
$bp-200: 800px;
$bp-300: 650px;
$bp-400: 450px;